<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nosotros
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Conócenos</ion-card-title>
      
      <img src="https://images.unsplash.com/1/type-away.jpg?q=80&fm=jpg"/>
    </ion-card-header>
  
    <ion-card-content>
      La mayor tienda de libros online del mundo, ¿Quieres saber sobre nosotros?<br>
      Sigue leyendo
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label><a href="https://www.google.com/maps/@37.5728624,-103.3319642,3a,75y,20h,90t/data=!3m7!1e1!3m5!1sfx5NZ6lh8I0764ZhRsmi6Q!2e0!6s%2F%2Fgeo1.ggpht.com%2Fcbk%3Fpanoid%3Dfx5NZ6lh8I0764ZhRsmi6Q%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D20%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656?hl=es" target="_blank">Localízanos</a></ion-label>
    </ion-item>
  
    <ion-card-content>
      
      Puedes encontrarnos en nuestras oficinas.
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
