<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add a new Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
    <ion-item>
      <h1>Formulario libro:</h1>
    </ion-item>
    <ion-item>
      <ion-icon name="book" item-start></ion-icon>
      <ion-label stacked>Book Title:</ion-label>
      <ion-input id="bookTitleId" formControlName="title" type="text" placeholder="Title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      <ion-label stacked>Book price:</ion-label>
      <ion-input name="price" id="bookPriceId" formControlName="price" type="text" placeholder="Price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="medical" item-start></ion-icon>
      <ion-label stacked>Synopsis</ion-label>
      <ion-input name="synopsis" id="bookSynopsisId" formControlName="synopsis" type="text" placeholder="Synopsis"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="search" item-start></ion-icon>
      <ion-label stacked>Book isbn:</ion-label>
      <ion-input name="isbn" id="bookIsbnId" formControlName="isbn" type="text" placeholder="Isbn"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-icon name="image" item-start></ion-icon>
      <ion-label stacked>Book price:</ion-label>
      <ion-input name="image" id="bookImageId" formControlName="image" type="text" placeholder="Image"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">
      Añadir Libro
    </ion-button>
    <ion-button type="button" expand="block" color="danger" [routerLink]="['/home']">
      Cancel
    </ion-button>        

  </form>
</ion-content>
