<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil1.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Dagner</h2>
      <h3>Diseñar es dificil!</h3>
      <p>Bla akskmksda kasmdkmasd kmasdkmasd kmsdkmkasd kamsdkmas ...</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil2.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Finn</h2>
      <h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil2.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Owo</h2>
      <h3> არ ვიცი რა უნდა გააკეთო!</h3>
      <p>
        არ ვიცი რა უნდა გააკეთო!
        არ ვიცი რა უნდა გააკეთო!</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil1.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Unknown</h2>
      <h3>
        Mai 'ike' ia e hana e hana!</h3>
      <p>He lā maikaʻi loa kaʻu hana. Inā mākou e ...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil2.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Known</h2>
      <h3>
        Ich weiß nicht, was ich tun soll!!</h3>
      <p>Ich hatte einen ziemlich versauten Tag. Wenn wir nur ...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil1.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Ariel</h2>
      <h3>לא יודע מה לעשות!</h3>
      <p>היה לי יום די מבולגן. אם ....</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/perfil2.png">
      </ion-avatar>
      <ion-label>
        
      <h2>Petter</h2>
      <h3>何をすべきかわからない！</h3>
      <p>私はかなりめちゃくちゃな一日を過ごしました。ただ….</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
