<ion-thumbnail >
  <img src="{{book.image}}"/>
</ion-thumbnail>
      <h5 [routerLink]="['/book-detail', book.id]">{{book.title}}</h5>
      <div class="item-note" slot="end">
        {{book.synopsis}}
</div>