<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{book.title}}
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      
      <h4> <ion-badge color="primary" >Synopsis: </ion-badge> <br>{{ book.synopsis}}</h4>
  </ion-item>
  <ion-item>
      
    <h4> <ion-badge color="primary">Isbn </ion-badge> <br>{{ book.isbn}}</h4>
</ion-item>
<ion-item>
      
  <h4> <ion-badge color="primary" >Price: </ion-badge> <br>{{ book.price}} $</h4>
</ion-item>
<ion-item>
      
  <h4> <ion-badge color="primary" >Image: </ion-badge> <br><ion-thumbnail >
    <img src="{{book.image}}"/>
  </ion-thumbnail>url: <a href="{{book.image}}" target="_blank">{{book.image}}</a></h4>
  
</ion-item>
<ion-button expand="block" type="submit" (click)="goEdit()">
  Editar Libro
</ion-button>
<ion-button type="button" expand="block" color="danger" (click)="onBack()">
  Back
</ion-button>
</ion-content>
