<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to My Book Store</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Sometimes you remember a book you read by its jacket. Sometimes by the actions of an obscure character. However, there are times when you can’t remember author or title.This is your web site.Find everything!!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://www.google.com/maps/@37.5728624,-103.3319642,3a,75y,20h,90t/data=!3m7!1e1!3m5!1sfx5NZ6lh8I0764ZhRsmi6Q!2e0!6s%2F%2Fgeo1.ggpht.com%2Fcbk%3Fpanoid%3Dfx5NZ6lh8I0764ZhRsmi6Q%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D20%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656?hl=es" target="_blank">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Our Localization</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
